.giallo {
  padding: 1em;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}

.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}

body {
  main {
    display: flex;
    justify-content: center;

    .content {
      flex-basis: 50%;
    }
  }
}
