$bg: light-dark(#ffffff, #1d1f21);
$fg: light-dark(#4d4d4c, #c5c8c6);
$accent: light-dark(#eab700ff, #f0c674ff);

:root {
  color-scheme: light dark;
  font-family: "Source Serif 4", serif;
}

.giallo {
  padding: 1em;
  font-family: "Source Code Pro", monospace;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}

.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}

.footnotes {
  font-size: smaller;
  padding-top: 0.5em;
}

.footnotes-list {
  list-style-position: inside;
  padding: 0;

  li {
    margin: 1em 0;
    p {
      display: inline;
    }
  }
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.summary {
  text-decoration: none;
  line-height: 1.6;
}

.summary-title {
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  text-decoration-color: $accent;
}

.summary-tagline {
  // Override color change on focus.
  color: $fg;
  margin: 0;
}

.post-tagline {
  margin: 0;
}

.post-time {
  // Override color change on focus.
  color: $fg;
  font-family: "Inter", sans-serif;
  font-size: smaller;
  font-weight: lighter;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: smaller;
  margin: 2em 0;

  a {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    max-width: 45%;
  }

  .post-nav-title {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.1em;
    text-decoration-color: $accent;
  }

  .post-nav-next {
    margin-left: auto;
    text-align: right;
  }
}

.page-not-found {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

.terms {
  font-weight: bold;
}

.term {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  text-decoration-color: $accent;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  text-decoration-color: $accent;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: $accent;
}

a:focus-visible {
  outline: none;
  color: $accent;
}

body {
  background-color: $bg;
  color: $fg;
  display: grid;
  grid-template-columns: minmax(auto, 680px);
  justify-content: center;
  margin: 1.5em;

  > header {
    font-family: "Inter", sans-serif;

    svg {
      display: flex;
      width: 1.5em;
      height: 1.5em;
    }

    nav {
      display: grid;
      grid-template-columns: auto repeat(2, max-content);

      > * {
        align-self: end;
        justify-self: end;
        padding-left: 1em;
      }

      > *:nth-child(1) {
        justify-self: start;
        padding-left: 0;
      }

      h2, h3 {
        margin: 0;
      }
    }
  }

  > main {
    p {
      line-height: 1.6;
      margin: 1.5em 0;
    }
  }

  > footer {
    text-align: center;
    font-size: small;

    img {
      max-width: 1em;
      max-height: 1em;
    }
  }
}
