$bg: light-dark(#ffffff, #1d1f21);
$fg: light-dark(#4d4d4c, #c5c8c6);
$accent: light-dark(#eab700ff, #f0c674ff);
$accent2: light-dark(#8e908c, #373b41);

.giallo {
  padding: 1em;
  font-family: "Source Code Pro", monospace;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}

.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}

.footnotes {
  border-top: thin solid;
}

.footnotes-list {
  font-size: smaller;
}

.post-li {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  padding-top: 0.5em;
}

.post-time {
  color: $accent2;
  font-size: smaller;
  padding-right: 1em;
}

.post-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.post-tagline {
  margin: inherit;
  padding: inherit;
}

h1.page-not-found {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

ul.posts {
  list-style-type: none;
  padding: 0;
}

ul.terms {
  font-weight: bold;
}

a {
  text-underline-offset: 10%;
  text-decoration-thickness: 10%;
  text-decoration-color: $accent;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: $accent;
}

:root {
  color-scheme: light dark;
  font-family: "Source Serif 4", serif;
}

body {
  background-color: $bg;
  color: $fg;
  display: grid;
  grid-template-columns: minmax(auto, 680px);
  justify-content: center;

  header {
    font-family: "Inter", sans-serif;
    padding: 0 2%;

    svg {
      display: flex;
      width: 1.5em;
      height: 1.5em;
    }

    nav {
      display: grid;
      grid-template-columns: auto repeat(2, max-content);

      > * {
        align-self: end;
        justify-self: end;
        padding-left: 1em;
      }

      > *:nth-child(1) {
        justify-self: start;
        padding-left: 0;
      }

      h2, h3 {
        margin: 0;
      }
    }
  }

  main {
    padding: 0 2%;

    p {
      line-height: 1.6;
    }
  }

  footer {
    text-align: center;
    font-size: small;
    padding: 0 2%;

    img {
      max-width: 1em;
      max-height: 1em;
    }
  }
}
