$bg: light-dark(#ffffff, #1d1f21);
$fg: light-dark(#4d4d4c, #c5c8c6);
$accent: light-dark(#eab700ff, #f0c674ff);

.giallo {
  padding: 1em;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}

.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}

.footnotes-list {
  font-size: smaller;
}

.post-time {
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
}

h1.page-not-found {
  text-align: center;
}

ul.posts {
  list-style-type: none;
  padding: 0;

  a {
    font-weight: bold;
    margin-right: 2em;
  }
}

ul.terms {
  a {
    font-weight: bold;
  }
}

a {
  text-underline-offset: 10%;
  text-decoration-thickness: 10%;
  text-decoration-color: $accent;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: $accent;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: $bg;
  color: $fg;
  display: grid;
  justify-content: center;

  header {
    max-width: 680px;
    padding: 0 2%;

    a {
      text-decoration: none;
      font-weight: bold;
    }

    svg {
      width: 1.5em;
      height: 1.5em;
    }

    nav {

      h2 {
        display: inline flex;
        margin: 0;
      }

      ul {
        display: inline flex;
        list-style-type: none;
        margin: inherit;
        padding: inherit;
        float: right;

        li {
          padding-left: 1em;
          align-content: center;
        }
      }
    }
  }

  main {
    max-width: 680px;
    padding: 0 2%;

    .content p {
      line-height: 1.6;
    }
  }

  footer {
    text-align: center;
    font-size: small;
    padding: 0 2%;

    img {
      max-width: 1em;
      max-height: 1em;
    }
  }
}
