$bg: light-dark(#ffffff, #1d1f21);
$fg: light-dark(#4d4d4c, #c5c8c6);
$accent: light-dark(#eab700ff, #f0c674ff);

.giallo {
  padding: 1em;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}

.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}

.post-time {
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
}

h1.page-not-found {
  text-align: center;
}

ul.posts {
  list-style-type: none;
  padding: 0;

  a {
    font-weight: bold;
    margin-right: 2em;
  }
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: $accent;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: $bg;
  color: $fg;

  header {
    display: flex;
    justify-content: center;
    padding: 0 2%;

    a {
      text-decoration: none;
    }

    svg {
      width: 1.5em;
      height: 1.5em;
      float: right;
    }

    nav {
      max-width: 800px;

      @media (max-width: 768px) {
        flex-basis: 100%;
      }

      @media (min-width: 768px) {
        flex-basis: 50%;
      }

      h2 {
        display: inline flex;
        margin: 0;
      }

      ul {
        display: inline flex;
        list-style-type: none;
        margin: inherit;
        padding: inherit;

        li {
          padding: 10px 20px 10px 0;
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding: 0 2%;

    .content {
      max-width: 800px;

      @media (max-width: 768px) {
        flex-basis: 100%;
      }

      @media (min-width: 768px) {
        flex-basis: 50%;
      }

      p {
        line-height: 1.6;
      }
    }
  }

  footer {
    text-align: center;
    font-size: small;
    padding: 0 2%;

    img {
      max-width: 1em;
      max-height: 1em;
    }
  }
}
