<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Handle mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-dark.css") | safe }}" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-light.css") | safe }}" media="(prefers-color-scheme: light)" />
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="site.css", cachebust=config.mode == "serve") | safe }}" />
</head>

<body>
  <main>
    <div class="content">
    {% block content %}{% endblock content %}
    </div>
  </main>
</body>

</html>
