<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Handle mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}
    {% if page.title %}
      {{ page.title }}
    {% elif section.title %}
      {{ section.title }}
    {% else %}
      {{ config.title }}
    {% endif %}
    {% endblock title %}
  </title>

  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="site.css", cachebust=config.mode == "serve") | safe }}" />
</head>

<body>
  <header>
    <nav>
      <h2><a href="{{ get_url(path="@/_index.md") }}">{{ config.title | lower }}</a></h2>
      <ul>
        <li><a href="{{ get_url(path="@/posts/_index.md") }}">posts</a></li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <a href="/atom.xml" target="_blank">
              <rect x="10" y="19" width="71" height="71" fill="transparent" />
              <circle cx="19" cy="81" r="9" fill="currentColor" />
              <path d="M10,50 A40,40 0 0,1 50,90" stroke="currentColor" stroke-width="12" fill="none" />
              <path d="M10,25 A65,65 0 0,1 75,90" stroke="currentColor" stroke-width="12" fill="none" />
            </a>
          </svg>
        </li>
    </nav>
  </header>

  <main>
    <section class="content">
    {% block content %}{% endblock content %}
    </section>
  </main>

  <footer>
    <p>
      &copy 2026 {{ config.author }}. Content on this site is licensed under
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
      <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="">
      <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="">
    </p>
  </footer>
</body>

</html>
